{{- $githubEmail := promptStringOnce . "githubEmail" "Enter your GitHub email (You can find a private one at: https://github.com/settings/emails)" -}}
{{- $githubName := promptStringOnce . "githubName" "Enter the name you wish to use on GitHub" -}}

{{- $isWorkComputer := promptBoolOnce . "isWorkComputer" "Is this a work computer" -}}
{{- $isPersonalComputer := promptBoolOnce . "isPersonalComputer" "Is this a personal computer" -}}

{{- $claudeGitHubPAT := promptStringOnce . "claudeGitHubPAT" "Claude Github PAT" -}}

{{- $workEmail := promptStringOnce . "workEmail" "Work email" -}}
{{- $workDisplayName := promptStringOnce . "workDisplayName" "Work Display Name" -}}
{{- $workGpgSigningKey := promptStringOnce . "workGpgSigningKey" "Work GPG Signing Key" -}}

{
  "data": {
    "githubName": "{{ $githubName }}",
    "githubEmail": "{{ $githubEmail }}",
    "isPersonalComputer": {{ $isPersonalComputer }},
    "isWorkComputer": {{ $isWorkComputer }},
    "claudeGitHubPAT": "{{ $claudeGitHubPAT }}",
    "workEmail": "{{ $workEmail }}",
    "workDisplayName": "{{ $workDisplayName }}",
    "workGpgSigningKey": "{{ $workGpgSigningKey }}"
  },
  "progress": true
}
