{{- if eq .chezmoi.os "darwin" -}}
tap "homebrew/bundle"
tap "homebrew/cask-fonts"

brew "awscli"
brew "chezmoi"
brew "deno"
brew "exa"
brew "eza"
brew "fzf"
brew "gh"
brew "git"
brew "gnupg"
brew "gping"
brew "jq"
brew "jsonpp"
brew "pinentry-mac"
brew "shellcheck"
brew "starship"
brew "tmux"
brew "trash"
brew "watch"
brew "zsh-syntax-highlighting"

{{- if eq .isWorkComputer true }}
brew "python@3.9"
{{ end }}

# Cask - Apps
cask "alacritty"
cask "anki"
cask "arc"
cask "cleanshot"
cask "exifcleaner"
cask "figma"
cask "firefox"
cask "google-chrome"
cask "http-toolkit"
cask "httpie"
cask "jetbrains-toolbox"
cask "kap"
cask "keymapp"
cask "logi-options-plus"
cask "miro"
cask "obsidian"
cask "protonvpn"
cask "raycast"
cask "runjs"
cask "spotify"
cask "visual-studio-code"

# Cask - Apps - Personal Computer
{{ if eq .isPersonalComputer true }}
cask "proton-pass"
cask "steam"
cask "transmission"
{{ end }}

# Cask - Fonts
cask "font-fira-code"
cask "font-fira-code-nerd-font"

vscode "andys8.jest-snippets"
vscode "CoenraadS.disableligatures"
vscode "catppuccin.catppuccin-vsc"
vscode "catppuccin.catppuccin-vsc-icons"
vscode "DavidAnson.vscode-markdownlint"
vscode "dbaeumer.vscode-eslint"
vscode "dsznajder.es7-react-js-snippets"
vscode "eamodio.gitlens"
vscode "esbenp.prettier-vscode"
vscode "github.vscode-github-actions"
vscode "GitHub.vscode-pull-request-github"
vscode "mechatroner.rainbow-csv"
vscode "mikestead.dotenv"
vscode "naumovs.color-highlight"
vscode "VisualStudioExptTeam.intellicode-api-usage-examples"
vscode "VisualStudioExptTeam.vscodeintellicode"
vscode "yzhang.markdown-all-in-one"

{{- if eq .isWorkComputer true }}
vscode "firsttris.vscode-jest-runner"
vscode "ms-vsliveshare.vsliveshare"
{{ end }}

{{- end -}}
