{{- if eq .chezmoi.os "darwin" -}}
tap "homebrew/bundle"

brew "awscli"
brew "chezmoi"
brew "eza"
brew "fzf"
brew "gh"
brew "go"
brew "git"
brew "gnupg"
brew "gping"
brew "jq"
brew "jsonpp"
brew "shellcheck"
brew "starship"
brew "tmux"
brew "trash"
brew "watch"
brew "zsh-syntax-highlighting"

{{- if eq .isWorkComputer true }}

{{ end }}

# Cask - Apps
cask "alacritty"
cask "cleanshot"
cask "exifcleaner"
cask "firefox"
cask "firefox@developer-edition"
cask "google-chrome"
cask "httpie"
cask "jetbrains-toolbox"
cask "logi-options+"
cask "obsidian"
cask "rectangle"
cask "remnote"
cask "runjs"
cask "visual-studio-code"
cask "zen-browser"

# Cask - Apps - Personal Computer
{{ if eq .isPersonalComputer true }}
cask "protonvpn"
cask "proton-pass"
cask "steam"
cask "transmission"
{{ end }}

# Cask - Fonts
cask "font-fira-code"
cask "font-fira-code-nerd-font"

vscode "andys8.jest-snippets"
vscode "CoenraadS.disableligatures"
vscode "catppuccin.catppuccin-vsc"
vscode "catppuccin.catppuccin-vsc-icons"
vscode "DavidAnson.vscode-markdownlint"
vscode "dbaeumer.vscode-eslint"
vscode "dsznajder.es7-react-js-snippets"
vscode "esbenp.prettier-vscode"
vscode "github.vscode-github-actions"
vscode "GitHub.vscode-pull-request-github"
vscode "mechatroner.rainbow-csv"
vscode "mikestead.dotenv"
vscode "naumovs.color-highlight"
vscode "supermaven.supermaven"
vscode "VisualStudioExptTeam.intellicode-api-usage-examples"
vscode "VisualStudioExptTeam.vscodeintellicode"
vscode "yzhang.markdown-all-in-one"

{{- if eq .isWorkComputer true }}
vscode "firsttris.vscode-jest-runner"
vscode "ms-vsliveshare.vsliveshare"
{{ end }}

{{- end -}}
