[branch]
    sort = -committerdate
[column]
    ui = auto
[commit]
    gpgsign = false
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[maintenance]
    auto = false
    strategy = incremental
[push]
    autoSetupRemote = true
[user]
	email = {{ .githubEmail }}
	name = {{ .githubName }}
