[branch]
    sort = -committerdate
    autoSetupMerge = simple

[column]
    ui = auto

[commit]
    gpgsign = true
    template = ~/.custom_config/git/template

[core]
    compression = 9
    fsmonitor = true
    pager = delta
    whitespace = error
    untrackedcache = true

[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential

[diff]
    algorithm = histogram

[delta]
    hyperlinks = true
    hyperlinks-file-link-format = "goland://open?file={path}&line={line}"
    line-numbers = true
    navigate = true

[gpg]
  program = /opt/homebrew/bin/gpg

[interactive]
    diffFilter = delta --color-only

[maintenance]
    auto = false
    strategy = incremental

[merge]
    conflictstyle = zdiff3

[pull]
  rebase = true

[push]
    autoSetupRemote = true
    default = current

[rebase]
  autoStash = true

[status]
  branch = true
  showStash = true

[tag]
  gpgSign = true

[user]
	email = {{ .githubEmail }}
	name = {{ .githubName }}
  signingKey = 2A56B46C61B1E24683AF668BFB2AD8E82613AF3B
