{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# This file checks the codewhisperer file in the dot_custom_config directory for changes
#
# fig           hash: {{ include "dot_custom_config/codewhisperer.sh" | sha256sum }}

echo "\033[32mcodewhisperer file updated!\033[m"
source "$HOME/.custom_config/codewhisperer.sh"

{{- end -}}