{{- if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

# This file checks various files in the dot_custom_config directory and updates
#
# aliases       hash: {{ include "dot_custom_config/aliases.sh" | sha256sum }}
# fig           hash: {{ include "dot_custom_config/fig.sh" | sha256sum }}
# functions     hash: {{ include "dot_custom_config/functions.sh" | sha256sum }}
# history       hash: {{ include "dot_custom_config/history.zsh" | sha256sum }}
# mac_settings  hash: {{ include "dot_custom_config/mac_settings.sh" | sha256sum }}


echo "\033[32mzsh custom_config files updated!\033[m"

source "$HOME/.zshrc"

{{- end -}}